body{
    background-color: #5950f6;
    font-family: sans-serif;
}

/* company name left corner*/
#companyName{
    color: white;
    font-size: 30px;
    width:70px;
}

/* for the navigation menu */
#navMenu{
    position: absolute;
    top: 0px;
    right: 40px;
}

.navMenu{
    font-size: 16px;
    padding-left: 15px;
    border: none;
    display: inline-block;
}

#active{
    color: white;
    display: inline-block;
}

.link{
    text-decoration: none;
    color: #b6b3eb;
}

.link:hover{
    color: white;
}